@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");

.ws-box {
    & * {
        box-sizing: border-box;
        font-family: "IBM Plex Sans", sans-serif;
        line-height: 0;
    }

    @import "../css/scrollbars";
    @import "../css/spinner";
}
